.Button {
  display: block;
  border: none;
  color: $white;
  background-color: #26a69a;
  padding: 15px 35px;
  margin-top: 20px;
  transition: opacity .3s ease;
  font-size: 1.2rem;
  font-weight: 700;

  &:hover {
    opacity: .9;
  }
}