.TitleOfBlock {
  font-size: 2.4rem;
  margin-bottom: 30px;
}

@include mq-max(1100px) {
  .TitleOfBlock {
    font-size: 2.2rem;
  }
}

@include mq-max(700px) {
  .TitleOfBlock {
    font-size: 2rem;
  }
}

@include mq-max(620px) {
  .TitleOfBlock {
    font-size: 1.8rem;
  }
}

@include mq-max(381px) {
  .TitleOfBlock {
    font-size: 1.7rem;
  }
}

@include mq-max(307px) {
  .TitleOfBlock {
    font-size: 1.6rem;
  }
}