header.Header.Block
  .Logo.Col8
    img.Logo-Img(src="images/logo.png" alt='microcode')
    .Logo-Text
      p.Logo-Title НПО «МикроКод»
      p.Logo-Hint Scientific Production Association «MicroCode»

  .Contacts.Col4
    p.Contacts-Line
      i.fas.fa-phone.Contacts-Icon
      span.Contacts-Text +7 922 922 925 7
    p.Contacts-Line
      i.fas.fa-envelope.Contacts-Icon
      span.Contacts-Text info@sp-mc.ru
