header.Header.Block
  .Logo.Col12.ColSm8
    img.Logo-Img(src="images/logo.png" alt='microcode')
    .Logo-Text
      p.Logo-Title.Text_Left НПО «МикроКод»
      p.Logo-Hint.Text_Left Scientific Production Association «MicroCode»

  .Contacts.Col12.ColSm4
    p.Contacts-Line
      i.fas.fa-phone.Contacts-Icon
      span.Contacts-Text +7 922 922 955 7
    p.Contacts-Line
      i.fas.fa-envelope.Contacts-Icon
      span.Contacts-Text info@sp-mc.ru
