section.MakeSmarter
  .MakeSmarter-TitleOuter.Block.Block-Column
    h1.TitleOfBlock Сделаем вещи умнее
    h3.MakeSmarter-Subtitle Let's make things smarter
  ul.MList.MakeSmarter-Items.Block
    li.MList-Item
      span Умные устройства
    li.MList-Item
      span Датчики
    li.MList-Item
      span Микроконтроллеры
    li.MList-Item
      span Электронные компоненты умного дома
    li.MList-Item
      span Роботы для дома
    li.MList-Item
      span Роботы-игрушки