section.MakeSmarter
  .MakeSmarter-TitleOuter.Block.Block-Column
    h1.TitleOfBlock Сделаем вещи умнее
    h3.MakeSmarter-Subtitle Let's make things smarter
  ul.MList.MakeSmarter-Items.Block.No-Gutters
    li.MList-Item.Col12.ColSm6.ColMd4
      span Умные устройства
    li.MList-Item.Col12.ColSm6.ColMd4
      span Датчики
    li.MList-Item.Col12.ColSm6.ColMd4
      span Микроконтроллеры
    li.MList-Item.Col12.ColSm6.ColMd4
      span Электронные компоненты умного дома
    li.MList-Item.Col12.ColSm6.ColMd4
      span Роботы для дома
    li.MList-Item.Col12.ColSm6.ColMd4
      span Роботы-игрушки