.MakeSmarter
  .MakeSmarter-TitleOuter.Block.Block-Column
    h1.TitleOfBlock Сделаем вещи умнее
    h3.MakeSmarter-Subtitle Let's make things smarter
  .MakeSmarter-Items.Block
    p Умные устройства
    p Электронные компоненты умного дома
    p Микроконтроллеры
    p Датчики
    p Роботы для дома
    p Роботы-игрушки